.posts {
    width:100%;
    max-width: 1280px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin:20px 0 110px 0;
  }
  
  @media (min-width:1024px) {
    .posts {
      grid-template-columns: repeat(4, 1fr);
      order:3;
    }
  }
  
  .post {
    position:relative;
    height:160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    padding:15px;
    border-radius:10px;
    text-decoration: none;
    transition: transform .2s ease-in-out ;
    overflow:hidden;
    animation: fadeInUp .6s;
  }
  
  @media (min-width:1024px) {
    .post {
      height:200px;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity:0;
      transform:translateY(20px)
    }
    100% {
      opacity:1;
      transform:translateY(0);
    }
  }
  
  .post::after {
    content: linear-gradient(transparent, rgba(0,0,0,0.6) 80%,rgba(0,0,0,0.9));
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
  }
  
  .post:hover {
    transform: translateY(-10px);
  }
  
  .title {
    color:white;
    z-index: 2;
    font-size:16px;
    font-weight: 600;
  }
  
  @media (min-width:1024px) {
    .title {
      font-size:18px;
    }
  }
  
  .tabs {
    background: #E1E1E1;
    border-radius:10px;
    overflow: hidden;
    margin:20px 0;
    overflow-x:auto;
    display:flex;
    max-width:100%;
  }
  
  .tab {
    padding: 10px;
    border-radius:10px;
    font-size:14px;
    font-weight: 600;
    transition: .3s ease-in-out;
    white-space:nowrap;
  }
  
  @media (min-width:1024px) {
    .tab {
      padding: 12px 16px;
    }
  }
  
  .tab--inactive:hover {
    background: #C6C6C6;
  }
  .tab--inactive {
    cursor: pointer;
    color: #818181
  }
  
  .tab--active {
    background: rgba(73, 85, 241, 0.603);
    color: white;
  }
  